@charset "UTF-8";

/*
PALETA 

Verde: #49a09d
Liás: #5f2c82
*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    height: 500px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #3d1c53;
    transition: width 0.2s,height 0.2s;
    transition-timing-function: ease;

    }
    div#imagem {
        display: block;
        background: #5f2c82 url(../imagem/pattern.jpg)  ;
        background-size: cover;
        height: 40%;
    }
    div#formulario {
        display: block;
        padding: 10px;
    }
    #formulario h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    #formulario p {
        font-size: 0.8em;
    }